<div class="container">
  <div class="title d-flex">
    <h1 class="display-2 mb-4 mx-auto my-4">
      OCORRÊNCIAS
    </h1>
  </div>

  <!-- <div class="d-flex justify-content-center">
    <div class="button mx-auto my-4 ">
      <button class="btn btn-light border border-secondary" tooltip="Exibir Ocorrências"
        (click)="ocorrencias()"><strong>Ocorrências</strong></button>
    </div>
  </div> -->

  <div *ngIf="temDados" class="tabela d-flex">
    <table class="table w-75 table-dark table-striped mt-4 mx-auto">
      <thead>
        <th>ID</th>
        <th>Usuário</th>
        <th>Descrição</th>
        <th></th>
      </thead>

      <tbody>
        <tr>
          <td>01</td>
          <td>Gustavo Lima</td>
          <td>Acidente na pista</td>
          <td><button class="btn-form" tooltip="Enviar Feedback" (click)="feedback()">Feedback</button></td>
        </tr>

        <tr>
          <td>02</td>
          <td>Andre Marques</td>
          <td>Obstrução na pista</td>
          <td><button class="btn-form" tooltip="Enviar Feedback" (click)="feedback()">Feedback</button></td>
        </tr>

        <tr>
          <td>03</td>
          <td>Vinicius de Moraes</td>
          <td>Acidente na pista</td>
          <td><button class="btn-form" tooltip="Enviar Feedback" (click)="feedback()">Feedback</button></td>
        </tr>

        <tr>
          <td>04</td>
          <td>Laura Tinder</td>
          <td>Acidente na pista</td>
          <td><button class="btn-form" tooltip="Enviar Feedback" (click)="feedback()">Feedback</button></td>
        </tr>

        <tr>
          <td>05</td>
          <td>Maria Paula</td>
          <td>Colidiu o automovel</td>
          <td><button class="btn-form" tooltip="Enviar Feedback" (click)="feedback()">Feedback</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div *ngIf="fechar" style="display:flex; justify-content:center; align-items:center; 
position:absolute; bottom:0; left:0; right:0; top:0; background-color:rgba(0,0,0,0.5)">

  <div style="background-color: white; padding: 10px; display:flex; flex-direction: column; width:600px; height:350px; justify-content: space-between;">
    <div style="display:flex; flex-direction: column;">
      <span><strong>Nome: Gustavo Lima</strong></span>
      <span><strong>Ocorrência: Acidente na pista</strong></span>
      <br>
    </div>
    <textarea maxlength="700" style="resize:none; height:200px;">
   </textarea>
    <br>
    <button class="btn btn-primary" (click)='confirmar()'>CONFIRMAR</button>
    <br>
    <button class="btn btn-dark" (click)='close()'>FECHAR</button>
  </div>
</div>

<!-- Ocorrência registrada as: 15:09 - 19/01/2077 -->